---
import Card from '../components/Card.astro';
import LibraryTab from '../components/Tabs/LibraryTab.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout pagetitle="Library" version="v0.1">
          <LibraryTab />
          <div class="grid grid-cols-3 gap-4">
          <Card title="eLibrary Home" link="https://wellingtoncloud.sharepoint.com/sites/wc-library/SitePages/Home.aspx" svg="M12 8a3 3 0 0 0 3-3a3 3 0 0 0-3-3a3 3 0 0 0-3 3a3 3 0 0 0 3 3m0 3.54C9.64 9.35 6.5 8 3 8v11c3.5 0 6.64 1.35 9 3.54c2.36-2.19 5.5-3.54 9-3.54V8c-3.5 0-6.64 1.35-9 3.54" />
          <Card title="Catalogue" link="https://accessit.wellingtoncollege.org.uk/" svg="M11 15h6v2h-6zM9 7H7v2h2zm2 6h6v-2h-6zm0-4h6V7h-6zm-2 2H7v2h2zm12-6v14c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2m-2 0H5v14h14zM9 15H7v2h2z" />
          </div>
</MainLayout>
