---
import Card from '../components/Card.astro';
import SportTab from '../components/Tabs/SportTab.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout pagetitle="Sport" version="v0.1">
          <SportTab />
          <div class="grid grid-cols-3 gap-4">
            <Card title="Health & Fitness Club" link="https://www.wellingtonfitness.co.uk/" svg="M20.57 14.86L22 13.43L20.57 12L17 15.57L8.43 7L12 3.43L10.57 2L9.14 3.43L7.71 2L5.57 4.14L4.14 2.71L2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57L3.43 12L7 8.43L15.57 17L12 20.57L13.43 22l1.43-1.43L16.29 22l2.14-2.14l1.43 1.43l1.43-1.43l-1.43-1.43L22 16.29z" />
            <Card title="SOCS" link="https://www.socscms.com/SOCS/student2/" svg="M18 15a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2M6.05 14.54s1.41-1.42 1.42-4.24c-.36-2.19.5-4.76 2.47-6.72C12.87.65 17.14.17 19.5 2.5c2.33 2.36 1.85 6.63-1.08 9.56c-1.96 1.97-4.53 2.83-6.72 2.47c-2.82.01-4.24 1.42-4.24 1.42l-4.24 4.24l-1.41-1.41zM18.07 3.93C16.5 2.37 13.5 2.84 11.35 5c-2.14 2.14-2.62 5.15-1.06 6.71c1.57 1.56 4.57 1.08 6.71-1.06c2.16-2.15 2.63-5.15 1.07-6.72" />
            <Card title="Sport Results" link="https://www.wellingtoncollegesports.org.uk/" svg="M15.5 15q-.425 0-.712-.288T14.5 14v-4q0-.425.288-.712T15.5 9H18q.425 0 .713.288T19 10v4q0 .425-.288.713T18 15zm.5-1.5h1.5v-3H16zM5 15v-2.5q0-.425.288-.712T6 11.5h2v-1H5V9h3.5q.425 0 .713.288T9.5 10v1.5q0 .425-.288.713T8.5 12.5h-2v1h3V15zm6.25-4V9.5h1.5V11zm0 3.5V13h1.5v1.5zM4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h3V2h2v2h6V2h2v2h3q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm0-2h7.25v-1.5h1.5V18H20V6h-7.25v1.5h-1.5V6H4zm0 0V6z" />
          </div>
</MainLayout>
