---
import HomeTab from '../components/Tabs/HomeTab.astro'
import LibraryTab from '../components/Tabs/LibraryTab.astro'
import SportTab from '../components/Tabs/SportTab.astro'
import SafeguardingTab from '../components/Tabs/SafeguardingTab.astro'
import AcademicsTab from '../components/Tabs/AcademicsTab.astro'
import MissingAnApp from './Tabs/MissingAnApp.astro'
---

<nav class="space-y-2">
    <HomeTab />
    <LibraryTab />
    <SportTab />
    <SafeguardingTab />
    <AcademicsTab />
    <MissingAnApp />
</nav>